<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유치원 정보</title>
    <link rel="stylesheet" href="/css/chicken/child_info_list.css">
</head>
<body>
<div class="box">
    <p class="txt1">
        등록할 자녀 정보를<br>선택해 주세요
    </p>
    <p class="txt2">
        자녀 정보
    </p>
    <button class="Boy_btn">
        <p class="B_name1">이름</p>
        <p class="B_gender1">성별</p>
    </button>
    <button class="Girl_btn">
        <p class="G_name1">이름</p>
        <p class="G_gender1">성별</p>
    </button>
    <!-- 여기부터 자동으로 추가 되어야 할 곳 -->
</div>
</body>
</html>