<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이 정보 입력하기</title>
    <link rel="stylesheet" href="/css/chicken/child_info_register2.css">
</head>
<body>
<div class="box">
    <p class="titletxt">
        아이를 위해 열심히<br>작성해 주셔서 감사해요 :)
    </p>
    <p class="txt1">생활습관</p>
    <div class="life_pattern_div">
        <textarea class="life_pattern_input" autocomplete="none" maxlength="100" placeholder="ex ) 화장실 이용 습관(기저귀 사용 여부,&#10; 시간) 식습관, 운동량"></textarea>
    </div>
    <p class="txt2">성격특성</p>
    <div class="personality_div">
        <textarea class="personality_input" autocomplete="none" maxlength="100" placeholder="ex ) 언어 능력(모국어, 사용하는 언어) 특기 및 관심사(음악, 미술, 수학) 행동 및 성격(내향적, 외향적)"></textarea>
    </div>
    <p class="txt3">특별 주의사항</p>
    <div class="special_notice_div">
        <textarea class="special_notice_input" autocomplete="none" maxlength="75" placeholder="ex ) 아이의 공포증, 특정 행동 문화적 또는 종교적 고려사항"></textarea>
    </div>
    <button class="ok_btn">
        확인
    </button>
</div>
</body>
</html>