<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유치원 정보</title>
    <link rel="stylesheet" href="/css/chicken/k_map.css">
</head>
<body>
<div class="box">
    <div class="Map_InfoBox">
        <p class="txt1">
            유치원/어린이집이 맞는지<br>정보를 확인해주세요 :)
        </p>
        <p class="txt2">
            유치원 이름
        </p>
        <p class="txt3">
            유치원 주소
        </p>
        <button class="nobtn">아니에요!</button>
        <button class="okbtn">네 맞아요!</button>
    </div>
</div>
</body>
</html>