<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유치원 정보
    </title>
    <link rel="stylesheet" href="/css/chick/kinderinfo.css">
</head>
<body>
<div class="box">
    <p class="title1">삐약이네 유치원 병아리반</p>
    <p class="authcode">발급 코드 - (정보없음)</p>
    <p class="title2">원생 목록 확인하기</p>
    <button class="btn1">
        <p class="name1">이름</p> <p class="gender1">성별</p>
    </button>
</div>
</body>
</html>