<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유치원 정보
    </title>
    <link rel="stylesheet" href="/css/chick/kinderinfo.css">
</head>
<body>
<div class="box">
    <p class="image1">🏡</p>
    <p class="title1" th:text="${kinderGarden.kindergardenName}">삐약이네 유치원</p>
    <p class="image2">🔅</p>
    <p class="title3" th:text="${kinderGarden.kindergardenClass}">병아리반</p>
    <p class="image3">📍</p>
    <p class="authcode" th:text="${kinderGarden.kindergardenRandomcode}">발급 코드</p>
    <p class="title2">원생 목록 확인하기</p>
    <button class="btn1">
        <p class="name1">이름</p> <p class="gender1">성별</p>
    </button>
</div>
</body>
</html>