.box {
    width: 393px;
    height: 852px;
    background-color: #FF9A95; /* 배경색을 주황색으로 변경 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    position: relative; /* 위치 기준을 상대적으로 설정 */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* body의 배경색을 흰색으로 설정 */
}
.text1 {
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 120% */
    letter-spacing: -0.408px;
    position: absolute; /* 절대 위치 설정 */
    top: 123px; /* Y 좌표 */
    left: 40px; /* X 좌표 */
}
.title {
    color: #FFDC24;
    font-size: 36px;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 105.556% */
    letter-spacing: -0.31px;
    position: absolute; /* 절대 위치 설정 */
    top: 173px; /* Y 좌표 */
    left: 40px; /* X 좌표 */
}
.egg {
    width: 353.741px;
    height: 409.688px;
    position: absolute;
    top: 273px;
    margin-left: -90px;
}
.egg1 {
    width: 300.552px;
    height: 400.811px;
    position: absolute;
    top: 281.5px;
    margin-left: -63px;
}
.chicken {
    width: 239.322px;
    height: 280.856px;
    flex-shrink: 0;
    position: absolute;
    top: 363px;
    left: 155px;
}
.chicken1 {
    width: 53.829px;
    height: 305.582px;
    flex-shrink: 0;
    position: absolute;
    top: 323px;
    left: 260px;
}
.chicken2 {
    width: 161px;
    height: 40px;
    flex-shrink: 0;
    position: absolute;
    top: 453px;
    left: 205px;
}
.chicken3 {
    width: 111.947px;
    height: 44.928px;
    flex-shrink: 0;
    position: absolute;
    top: 476px;
    left: 230px;
    z-index: 2;
}
.chicken4 {
    width: 111.947px;
    height: 41.945px;
    flex-shrink: 0;
    position: absolute;
    top: 502px;
    left: 230px;
    z-index: 1;
}
.loginbtn {
    background: none;
    width: 80px;
    height: 54px;
    position: absolute;
    top: 770px;
    left: 100px;
    border: none;
    border-radius: 15px;
    font-size: 23px;
    font-family: "Pretendard";
    font-weight: 500;
    text-align: center;
}
.signinbtn{
    background: none;
    width: 100px;
    height: 54px;
    position: absolute;
    top: 770px;
    left: 200px;
    border: none;
    border-radius: 15px;
    font-size: 23px;
    font-family: "Pretendard";
    font-weight: 500;
    text-align: center;
}
.juststick{
    font-family: "Pretendard";
    font-size: 23px;
    color: #000;
    position: absolute;
    top: 760px;
    left: 185px;
}