body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* body의 배경색을 흰색으로 설정 */
}
.box {
    width: 393px;
    height: 852px;
    background-color: #ffffff;
    margin: 0 auto; /* 수평 중앙 정렬 */
    position: relative; /* 위치 기준을 상대적으로 설정 */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.text1{
    color: #000;
    font-family: Pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 128.571% */
    letter-spacing: -0.31px;
    position: absolute;
    top: 420px;
    left: 65px;
}
.cookie{
    width: 272px;
    height: 272px;
    flex-shrink: 0;
    position: absolute;
    top: 117px;
    left: 61px;
}
.textbox1{
    width: 295px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #FFF7EE;
    position: absolute;
    top: 516px;
    left: 49px;
}
.textbox2{
    width: 295px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #FFF7EE;
    position: absolute;
    top: 590px;
    left: 49px;
}
.textbox3{
    width: 295px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #FFF7EE;
    position: absolute;
    top: 671px;
    left: 49px;
}
.yesbtn{
    width: 104px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    position: absolute;
    top: 770px;
    left: 80px;
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none
}
.nobtn{
    width: 104px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F5F5;
    position: absolute;
    top: 770px;
    left: 209px;
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    align-items:center;
    display: inline-block;
}
.yes, .no{
    color: #828282;
    text-align: 104px;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}

#nameDisplay, #genderDisplay, #phoneDisplay{
    color: #303030;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 53px; /* 가운데 정렬 */
    letter-spacing: -0.31px;
}